@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

.about-container {
  padding: 10px;
  background-color: #002147; 

}

.my-image {
  float: left;
  margin-right: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1effe5;
  font-family: 'oxygen', sans-serif;
}

p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: white;
  font-family: 'oxygen', sans-serif;
}

.bio-section {
  margin-bottom: 50px;
}

.colored-word {
  color: #1effe5;
}

ul {
  list-style-type: circle; 
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
  padding-left: 10px;;
}

.icon-box {
  display: inline-block; 
  vertical-align: top; 
  padding:100px;
}

.skill-icon {
  font-size: 100px;
  margin-bottom: 10px;
  color:white;
  font-family: 'oxygen', serif;
}

.skill-label {
  font-size: 100px;
  font-weight: bold;
  color: rgb(20, 17, 17);
  font-family: 'oxygen', sans-serif;
}

.form-range {
  width: 200%;
}

.box-around {
  width: 50%;
}

.bio-section h2 {
  padding-left: 40px;
  margin-bottom: 10px;
  color: #1effe5;
  font-family: 'Oxygen', sans-serif;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content at the start (top) */
}

.details p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: white;
  font-family: 'Oxygen', sans-serif;
}

.details p strong {
  font-weight: bold;
}

.details p a {
  color: #1effe5;
  text-decoration: none;
}

.details p a:hover {
  text-decoration: underline;
}
