.footer {
  background-color: #002147;;
    color: white;
    padding: 1px;
    text-align: center;
    font-size: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    line-height: 1% ;
  }
  .footer p {
    margin: 2px 0; 
  }
  .footer .fisocial-icons {
    
    justify-content: center;
  }
  
  .footer .fisocial-icons i {
    margin: 0 5px;
    color: white;
    font-size: 20px;
  }
  