@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: #002147; 
  color: white;
  font-weight: 200;
  font-family: 'oxygen', sans-serif; 
  font-style: normal; 
  font-size: large;
  overflow: auto; 
}

h1 {
  color: white;
}

h2 {
  color: #1effe5;
   }

  .background-container {
    background-image: url('/public/image/pic.png'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
  }
  
  @media (max-width: 768px) { 
    .background-container {
      background-size: cover;
    }
  }
  

.text-container {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
}

.text-content {
  margin-top: 300px; 
  display: flex;
  margin-left: 100px;
  flex-direction: column; 
  align-items: left; 
  justify-content: left; 
}

.content {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  margin-bottom: 40px; 
}

.contact-button {
  background-color: blue; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 50px; 
  cursor: pointer; 
  
}

.contact-button:hover {
  background-color: #002147;
}

.home-page .fisocial-icons {
  display: flex; 
  font-size: 2px; 
}

.fisocial-icons {
  margin: 0 4px; 
  color: white; 
  font-size: 20px; 
}